*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}

body {
  background: #F7E9DC;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#balance-heading {
  width: 100%;
  background:  hsl(10, 79%, 65%);
  padding: 25px 35px;
  border-radius: 20px;
  color: hsl(27, 66%, 92%);
  font-size: 1rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#balance-heading img {
  height: 45px;
}

#balance-heading h1 {
  font-weight: 400;
  font-size: 1rem;
}

#balance-heading h1 span {
  display: block;
  font-weight: 700;
  font-size: 1.8rem;
  margin-top: 10px;
}

#chart-container {
  width: 100%;
  margin: 0 auto;
  background: #FFFCF7;
  padding: 40px;
  border-radius: 10px;
  position: relative;
}

#chart-container h2 {
  font-size: 2.4rem;
  color: hsl(25, 47%, 15%);
}

#chart-wrapper {
  position: relative;
  height: 40vh;
}

#spending-information {
  margin: 20px 0 0 0;
  padding-top: 40px;
  border-top: solid 2px rgb(238, 238, 238);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#spending-information h3 {
  color: hsl(28, 10%, 53%);
  font-size: 1rem;
  font-weight: 400;
}

#spending-information h3 span {
  color: hsl(25, 47%, 15%);
  display: block;
  font-weight: 700;
  font-size: 2.8rem;
}

#spending-information p {
  color: hsl(25, 47%, 15%);
  font-size: 1rem;
  font-weight: 700;
  text-align: right;
}

#spending-information p span {
  display: block;
  font-weight: 700;
  color: hsl(28, 10%, 53%);
  font-weight: 400;
}

.attribution p {
  width: 100%;
  margin: 20px 0;
  font-size: .8rem;
  color:hsl(25, 47%, 15%);
}

.attribution p a {
  text-decoration: none;
  color:hsl(25, 47%, 15%);
  font-weight: 700;
}

.attribution p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 780px) {
  #chart-container h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  #chart-container h2 {
    font-size: 1.2rem;
  }
  #spending-information {
    margin: 10px 0 0 0;
    padding-top: 20px;
  }
  
  #spending-information h3 {
    font-size: .8rem;
  }
  
  #spending-information h3 span {
    font-size: 1.8rem;
  }
  
  #spending-information p {
    font-size: 1rem;
  }
  
  #spending-information p span {
    font-size: .7rem;
  }
}